/*
---01 TYPOGRAPHY SYSTEM

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHTS:
Default: 400
Medium: 500
Semi-bold: 600
bold: 700

-LINE HEIGHTS:
DEFAULT:1
Small: 1.05
Medium: 1.6
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px


---02 COLORS

-Primary: #e67e22
-Tints: #fdf2e9 #fae5d3
-Shades:#cf711f#eb984e
-Accents
-Greys
#555
#333
#6F6F6F (Lightest gray allowed on #fdf2e9)

images unsplash.com

--- 05 SHADOWS
 box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
medium: 11;

--- 07 WHITESPACE

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



*/

:root {
  --main-color: #cee7fe;
  --header-bg: #f5faff;
  --background-color: #fafdff;
  --heading-text-color: #151719;
  --light-text-color: #313f4c;
  --sub-heading-color: #7193b3;
  --accent-color: #51bffe;
  --sub-bg: #f0f8ff;
  --heading-font: "varela round";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333333;
}

.burger-menu {
  display: none;
  cursor: pointer;
  z-index: 100000;
}

.burger-menu i {
  font-size: 24px;
  color: var(--heading-text-color);
}

.container {
  max-width: 107rem;
  padding: 0 3.2rem;
  margin: 0 auto 3rem auto;
}

.heading {
  line-height: 1.2;
  font-family: var(--heading-font);
  font-size: 28px;
}

.sub-heading {
  color: var(--sub-heading-color);
  text-transform: uppercase;
  font-size: 20px;
  font-family: var(--heading-font);
  text-align: center;
  margin-bottom: 2.5rem;
}
/* ############# NAV ############# */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  height: auto;
  width: 100%;
  padding: 1rem 6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.sticky {
  position: fixed;
  opacity: 0;
  animation: headeranimation 0.5s ease-in forwards 0.8s;
}

@keyframes headeranimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  height: 3rem;
  width: auto;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 3.2rem;
  font-size: 1.125rem;
  font-family: var(--heading-font), sans-serif;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-links ul li a:link,
.nav-links ul li a:visited {
  text-decoration: none;
  color: var(--heading-text-color);
}

.nav-links ul li a:hover,
.nav-links ul li a:active {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color) !important;
}

.btn {
  width: auto;
  padding: 0.7rem 1rem;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    var(--accent-color),
    var(--sub-heading-color)
  );
  border: none;
  font-weight: 600;
  font-family: var(--heading-font);
  font-size: 16px;
  color: var(--background-color);
  transition: background-image ease-in-out 2s;
  /* border: 1px solid rgba(0, 0, 0, 0); */
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    var(--sub-heading-color),
    var(--accent-color)
  );
  box-shadow: 2px 4px 20px 2px rgba(0, 102, 255, 0.301);
}

/* ############# HERO ############# */
.section-hero {
  padding: 10rem 3rem 5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100lvh;
  background-color: var(--main-color);
  margin: 0 auto !important;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  max-width: 107rem;
  padding: 0 3rem;
  margin: auto;
}

.bold-font {
  font-weight: 600;
}

.text-contents {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: heroanimation 0.5s ease-in forwards 0.8s;
}

@keyframes heroanimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-heading {
  font-family: var(--heading-font), sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
}

.paragraphs {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.about-me-paragraphs {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  text-align: justify;
}

.social-links {
  color: var(--heading-text-color);
}

.socials ul {
  list-style-type: none;
  display: flex;
  gap: 1.6rem;
  color: var(--heading-text-color);
}
.social-icons:link,
.social-icons:visited {
  color: var(--heading-text-color);
}

.hero-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 5px solid var(--heading-text-color);
  transition: all 0.3s ease;
}
.hero-image img:hover {
  transform: scale(1.05);
}

.social-icons {
  font-size: 2rem;
  cursor: pointer;
  color: var(--heading-text-color);
}

.social-icons:hover {
  color: var(--accent-color);
}
/* ############# TECH STACK ############# */
.tech-stacks-container {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6rem;
  /* background-color: var(--sub-bg); */
}

.tech-stack-section {
  max-width: 107rem;
  padding: 0 6rem;
  margin: auto;
}

.single-tech {
  display: flex;
  height: 12rem;
  width: 12rem;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 18px;
  background-color: var(--sub-bg);
  transition: all ease-in 20ms;
}

.tech-stacks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: auto;
}

.single-tech .tech-logo img {
  height: 100%;
  /* border: 1px solid black; */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.tech-logo {
  height: 100px;
  width: 100px;
}

.single-tech span {
  font-size: 1.2rem;
  font-weight: 600;
}

.single-tech:hover,
.singel-tech:active {
  background-color: var(--main-color);
}

/* ############# ABOUT ME ############# */
.section-About-me {
  padding: 4rem 6rem;
}

.about-me-container {
  /* max-width: 65rem; */
  /* margin: auto; */
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
}

.about-me-image-container {
  max-width: 500px;
  max-height: 300px;
  position: relative;
}

.about-me-image {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-position: bottom;
  object-fit: cover;
}

.about-me-text-container {
  width: calc(100% + 100px);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 100px;
  flex-grow: 1;
  background-color: var(--background-color);
  transform: translateX(-100px);
  flex-grow: 1;
  padding: 50px;
  border-radius: 18px;
  margin-right: -100px;
  box-shadow: 5px 5px 10px 0.5px rgba(0, 0, 0, 0.049);
  border: 1px solid rgba(227, 227, 227, 0.3);
}

.about-me-paragraphs {
  line-height: 165%;
}

/* ############# MY WORKS ############# */
.section-my-works {
  padding: 6rem 5rem;
  background-color: var(--main-color);
  margin-bottom: 3rem;
}

.section-my-works .sub-heading {
  margin-bottom: 1rem;
}

.section-my-works .heading {
  text-align: center;
  margin-bottom: 3rem;
}

.work-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work-heading {
  color: #151719;
}

.my-work-container {
  max-width: 65rem;
  margin: auto;
  border-radius: 50px;
  background-color: var(--sub-bg) !important;
  padding: 2rem;
  display: flex !important;
  gap: 3.2rem;
  align-items: center !important;
}

.my-work-container a {
  display: flex;
  height: 200px;
  width: 100%;
}

.work-image {
  width: 100% !important;
  height: 100%;
  border-radius: 18px;
  object-position: top;
  border: 1px solid rgba(128, 128, 128, 0.137);
  transition: ease-in-out 6s;
}

.work-image:hover {
  /* filter: brightness(0.7); */
  object-position: bottom;
}

.work-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: left;
  width: 100%;
}

.work-heading {
  font-family: var(--heading-font);
  font-size: 20px;
  text-align: center;
}

.work-text-container .paragraph {
  font-weight: 200;
  line-height: 1.6;
  font-size: 16px;
}

/* ############# CONTACTS ############# */
.section-contact {
  max-width: 65rem;
  padding: 4rem 5rem;
  margin: auto;
}

.section-contact .sub-heading {
  margin-bottom: 1rem;
}

.section-contact .heading {
  text-align: center;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  margin: auto;
}

.location-content {
  display: flex;
  flex: 1 0 50%;
  gap: 1.2rem;
  padding: 3rem 0;
  align-items: center;
  justify-content: center;
}

.c-icon {
  font-size: 2.5rem;
  color: var(--sub-heading-color);
}

.location-texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.location-texts h3 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 18px;
}

.location-texts h4 {
  font-weight: 100;
  font-size: 14px;
}

.email h4 a {
  text-decoration: none;
  color: #333;
}

.email h4 a:hover {
  color: var(--sub-heading-color);
}

/* ############# FOOTER ############# */
footer {
  background-color: #4f4f4f;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-socials ul {
  list-style-type: none;
  display: flex;
  gap: 1.6rem;
  color: var(--main-color);
  margin-bottom: 25px;
}

.footer-social-links {
  color: var(--main-color);
  font-size: 20px;
}

.footer-social-icons {
  color: var(--main-color);
  font-size: 36px;
}

.footer-social-icons:link,
.footer-social-icons:visited {
  color: var(--main-color);
}

.footer-social-icons:hover,
.footer-social-icons:active {
  color: var(--background-color);
}

footer h2 {
  color: var(--header-bg);
  font-family: "Azeret Mono";
  font-size: 18px;
  font-weight: 100;
}

strong {
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sub-heading-color);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--heading-text-color);
}

.section {
  transition: transform 1s, opacity 1s, filter 0.5s ease-in-out;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* Styles for the overlay background */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Styles for the custom alert box */
.alert-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  z-index: 2;
  border-radius: 18px;
  line-height: 150%;
}

.alert-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Close button style */
.close-btn {
  cursor: pointer;
  font-size: 32px;
  color: rgb(255, 103, 103);
}

.close-btn:hover {
  color: rgb(255, 156, 156);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For mobile */
@media (max-width: 768px) {
  header {
    padding: 1rem 2rem;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 25px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .burger-menu {
    transition: all 0.2s ease;
  }

  .burger-menu .fa-times {
    display: none;
  }

  .burger-menu.active .fa-bars {
    display: none;
  }

  .burger-menu.active .fa-times {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-bg);
    box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.075);
    border-radius: 8px;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-links ul li {
    text-align: center;
  }

  .nav-links ul li a {
    display: block;
    padding: 0.5rem 0;
  }

  .logo {
    height: 2rem;
  }

  .section-hero {
    padding-top: 5rem;
    padding-bottom: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.297),
        rgba(0, 0, 0, 0.297)
      ),
      url("/images/heroimg.jpg");
    background-size: cover;
    background-position: center;
  }

  .hero {
    flex-direction: column;
    gap: 3rem;
    /* text-align: center; */
    padding: 2rem;
  }

  .main-heading {
    font-family: var(--heading-font), sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.9rem;
    color: var(--background-color);
  }

  .hero-paragraph {
    color: var(--background-color);
  }

  .paragraphs {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 1.2rem;
  }

  .hero-image img {
    width: 200px;
    height: 200px;
    margin: auto;
    display: none;
  }

  .social-links {
    justify-content: left;
  }

  .social-links li a i {
    color: var(--background-color);
  }

  .tech-heading {
    display: block;
  }

  .tech-stacks-container {
    margin-top: 3rem;
    /* flex-direction: column; */
    justify-content: center;
  }

  .tech-stacks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;

    position: relative;
    gap: 2rem;
  }

  .single-tech {
    display: flex;
    height: 6rem;
    width: 6rem;
    gap: 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
    background-color: var(--sub-bg);
    transition: all ease-in 20ms;
  }

  .single-tech span {
    font-size: 75%;
  }

  .tech-logo {
    height: 50px;
    width: 50px;
  }

  .tech-stack-section {
    padding: 0;
  }

  .section-About-me {
    padding: 2rem;
  }

  .about-me-container {
    width: 100%;

    flex-direction: column;
    gap: 2rem;
  }

  .about-me-image-container {
    height: 300px;
  }

  .about-me-image {
    height: 100%;
    border-radius: 8px;
    margin: auto;
    object-fit: end;
  }

  .about-me-text-container {
    width: 100%;
    background-color: none;
    flex-grow: none;
    flex-grow: 0;
    padding: 0;
    border-radius: 0;
    margin-right: 0;
    box-shadow: none;
    border: none;
    background-color: #fff;
    margin-top: 50px;
    transform: none;
  }

  .section-my-works {
    padding: 1.5rem;
  }

  .my-work-container {
    flex-direction: column;
    gap: 2rem;
  }

  .even {
    flex-direction: column-reverse;
  }

  .work-image a {
    height: 500px;
  }

  .work-image {
    width: 100%;
    border-radius: 8px;
  }

  .work-heading {
    text-align: left;
  }

  .section-contact {
    padding: 0;
  }

  .contact-container {
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
  }

  .c-icon {
    font-size: 2rem;
  }

  .alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 10;
    border-radius: 18px;
    line-height: 150%;
  }
}

@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  .section-hero {
    padding: 4rem 2rem;
    height: 450px;
  }
}

/* For screens between 768px and 1023px (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 1.5rem 2rem;
  }

  .nav-links ul li a {
    padding: 0.5rem;
  }

  .nav-links {
    gap: 2rem;
  }

  .logo {
    height: 2.5rem;
  }

  .hero {
    padding: 4rem;
    text-align: left;
  }

  .hero-image img {
    width: 250px;
    height: 250px;
  }

  .about-me-container {
    gap: 3rem;
  }

  .about-me-text-container {
    width: 100%;

    flex-grow: none;
    transform: none;
    flex-grow: 1;
    padding: 0;
    border-radius: none;
    margin-right: 0;
    box-shadow: none;
    border: none;
  }

  .about-me-image {
    width: 15rem;
  }

  .my-work-container {
    gap: 3rem;
  }

  .work-image {
    width: 300px;
    height: 200px;
  }

  .contact-container {
    gap: 2rem;
    padding: 0 2rem;
  }

  .c-icon {
    font-size: 2.5rem;
  }

  .alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 2;
    border-radius: 18px;
    line-height: 150%;
  }
}
